.wrapper {
    position: relative;
    margin-top: 0%;
}

.head {
    background-color: #5a5a5a;
}

.header {
    position: relative;
    height: 50%;
    margin-top: 0%;
    width: 100%;
    background-color: #5a5a5a;
}

.name {
    position: relative;
    height: 10%;
    width: 15%;
    margin-left: 45%;
    font-family: Monaco;
    font-size: larger;
}